__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
ENV/
.env
pip-wheel-metadata/
.coverage
coverage.xml
htmlcov/
.dist/
build/
dist/
workflow-orchestrator/
